.#{$parentPrefix}container.#{$parentPrefix}boxed {
    width: 768px;
}

$list: ".#{$prefix}10";

@for $i from(1 + 1) through 10 {
    $list: "#{$list}, .#{$prefix}#{$i}0";
}

#{$list} {
    width: 100%;
}

.sb-hide-medium {
    display: none;
}
