// Fonts
$fontSize: 15px;
$relFontSize: 1em;
$lineHeight: 1.66667;
$baseFontSize: 3rem;

// Container
$containerPadding: 15px;

// Buttons
$buttonbackground: white;
$buttonborder: 1px solid darken($buttonbackground,10%);

// Colors
$themeColor:#8BC34A;
$darkColor:#303030;
$textcolor: white;
$backgroundcolor: #3498db;


// Container Width
$sm: 768px + $containerPadding * 8;
$md: 992px + $containerPadding * 8;
$lg: 1200px + $containerPadding * 8;
$xl: 1440px + $containerPadding * 8;
