// Fonts
$fontSize: 15px;
$relFontSize: 1em;
$lineHeight: 1.66667;

// Container
$containerPadding: 15px;

// Buttons
$buttonbackground: white;
$buttonborder: 1px solid darken($buttonbackground,10%);
// Colors
$textcolor: white;
$backgroundcolor: #3498db;
