$fontSize: 15px;
$relFontSize: 1em;
$lineHeight: 1.66667;
$containerPadding: 15px;
$buttonbackground: white;
$buttonborder: 1px solid darken($buttonbackground,10%);
$textcolor: white;
$backgroundcolor: #3498db;
