//
// Switchboard Grid
// --------------------------------------------------
//columns

.#{$prefix}inner {
    padding-left: $containerPadding;
    padding-right: $containerPadding;
}
// containers

.#{$parentPrefix}container {
    max-width: 100%;
    padding-left: $containerPadding;
    padding-right: $containerPadding;
    margin-left: auto;
    margin-right: auto;
}

.#{$parentPrefix}row {
    position: relative;
    margin-left: (-$containerPadding);
    margin-right: (-$containerPadding);
}

.#{$prefix}col {
    padding-left: $containerPadding;
    padding-right: $containerPadding;
}

.#{$parentPrefix}container {
    @include clearboth;
}

.#{$parentPrefix}row {
    @include clearboth;

    &.#{$prefix}nogap {
        margin-left: 0;
        margin-right: 0;

        & > [class *="d12"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.#{$prefix}clear {
    @include clearboth;
}
//soak

.#{$prefix}soak {
    position: relative;
    margin: auto;
}
//i-center

.#{$prefix}i-center {
    display: inline-block;
    vertical-align: middle;
}
//floats

.#{$prefix}left {
    float: left;
}

.#{$prefix}right {
    float: right;
}
// block

.#{$prefix}block {
    display: block;
}
@include grid-100;
@include grid-12;
@include set-grid-12();
