.#{$prefix}typoLeft {
    text-align: left;
}

.#{$prefix}typoCenter {
    text-align: center;
}

.#{$prefix}typoRight {
    text-align: right;
}

.#{$prefix}typoJustify {
    text-align: justify;
}

.#{$prefix}typoLight {
    font-weight: 100;
}

.#{$prefix}typoBold {
    font-weight: 800;
}
