// Typo Prefix
$typoPrefix: 'typo-';

// Alignment
.#{$prefix + $typoPrefix}left {
    text-align: left;
}

.#{$prefix + $typoPrefix}center {
    text-align: center;
}

.#{$prefix + $typoPrefix}right {
    text-align: right;
}

.#{$prefix + $typoPrefix}justify {
    text-align: justify;
}

// Font Weight

.#{$prefix + $typoPrefix}light {
    font-weight: 100;
}

.#{$prefix + $typoPrefix}medium {
    font-weight: 400;
}

.#{$prefix + $typoPrefix}bold {
    font-weight: 700;
}
