// Typo Prefix
$typoprefix: 'typo-';

// Alignment
.#{$prefix + $typoprefix}left {
    text-align: left;
}

.#{$prefix + $typoprefix}center {
    text-align: center;
}

.#{$prefix + $typoprefix}right {
    text-align: right;
}

.#{$prefix + $typoprefix}justify {
    text-align: justify;
}

// Font Weight

.#{$prefix + $typoprefix}light {
    font-weight: 100;
}

.#{$prefix + $typoprefix}medium {
    font-weight: 400;
}

.#{$prefix + $typoprefix}bold {
    font-weight: 700;
}
